@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow-shadow {
  0% {
    box-shadow: 0 0 30px red;
  }

  14% {
    box-shadow: 0 0 30px orange;
  }

  28% {
    box-shadow: 0 0 30px yellow;
  }

  42% {
    box-shadow: 0 0 30px green;
  }

  57% {
    box-shadow: 0 0 30px blue;
  }

  71% {
    box-shadow: 0 0 30px indigo;
  }

  85% {
    box-shadow: 0 0 30px violet;
  }

  100% {
    box-shadow: 0 0 30px red;
  }
}

.rainbow-shadow:hover {
  animation: rainbow-shadow 5s linear infinite;
}

.rainbow-shadow-holded {
  animation: rainbow-shadow 5s linear infinite;
}